{% extends 'base.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block title %}
    Ferras - {{ blog.0.title }}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="/#page-top">
            <span class="d-block d-lg-none">Ferras</span>
            <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/site.jpg' %}" alt="">
        </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/blog/lists/{{ slug }}">Lists - {{ slug }}</a>
                </li>
                {% for sp in spcs %}
                    <li class="nav-item {% if spc.0.title == sp.title %}active{% endif %}">
                        <a class="nav-link js-scroll-trigger" id="nav-python"
                           href="/blog/lists/{{ slug }}/detail?bid={{ sp.id }}">{{ sp.title }}</a>
                    </li>
                {% endfor %}

                <li class="nav-item nav-link">
                    <a class="nav-link js-scroll-trigger" href="/blog/lists">Back To Lists</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="python">
            <div class="my-auto">
                {% if spc %}
                    <h3 class="mb-3">{{ spc.0.title }}</h3>
                    <div class="mb-2">
                        {{ spc.0.author }} 于 {{ spc.0.edit_time }}
                    </div>
                    <div class="resume-item d-flex flex-column flex-md-row mb-2">
                        <div class="resume-content mr-auto">
                            <p>{{ spc.0.body | markdown }}</p>
                        </div>
                    </div>
                {% else %}
                    <h3 class="mb-3">Oops!</h3>
                    <div class="resume-item d-flex flex-column flex-md-row mb-2">
                        <div class="resume-content mr-auto">
                            <p>It seems that no post been added yet!</p>
                        </div>
                    </div>
                {% endif %}
                <div>
                    <hr>
                    <hr>
                    <p>转载请注名出处 <a href="https://www.ferras.top" target="_blank">www.ferras.top</a>，谢谢！</p>
                    <p>转载请注名出处 <a href="https://www.ferras.top" target="_blank">www.ferras.top</a>，谢谢！</p>
                </div>

            </div>
        </section>


    </div>

{% endblock %}
